<table class="table table-bordered">
    <thead>
      <tr >
        <th >Name</th>
        <th >Lastname</th>
        <th >Email</th>
        <th >Contact</th>
        <th>Update</th>
        <th>Delete</th>
        <th>
          <button type="submit" class="btn-danger"  (click)="deleteAllUserContact()">Delete All</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let contacts of contactDetails | paginate:{
        itemsPerPage:1, currentPage:page }"> 
        
        <td>{{contacts.name}}</td>
        <td>{{contacts.lastName}}</td>
        <td>{{contacts.email}}</td>
        <td>{{contacts.contactNumber}}</td>
        <td><button type="button" class="btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="update(contacts)">Update</button></td>
        <td><button type="button" class="btn-danger" (click)="deleteUserContact(contacts)">Delete</button></td>
        
      </tr>

      
    </tbody>
    
  </table>
  <pagination-controls (pageChange) ="page = $event" class="float-left"></pagination-controls>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #updateForm="ngForm" (ngSubmit)="updateUserContact()">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input type="email" class="form-control" id="name" #name [(ngModel)]="contactUpdate.name" name="name" aria-describedby="emailHelp">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Lastname</label>
              <input type="email" class="form-control" id="lastName" #lastName [(ngModel)]="contactUpdate.lastName" name="lastName" aria-describedby="emailHelp">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" #email [(ngModel)]="contactUpdate.email" name="email" aria-describedby="emailHelp">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Contact</label>
              <input type="email" class="form-control" id="contactNumber" #contactNumber name="contactNumber" [(ngModel)]="contactUpdate.contactNumber" aria-describedby="emailHelp">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
         
            
          
        
        <div class="modal-footer">
          
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      </div>
    </div>
  </div>
