<div class="bootstrap-wrapper">
    <div class="container w-50">
  
  <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="tab-login" data-mdb-toggle="pill" routerLink="" role="tab"
        aria-controls="pills-login" aria-selected="true">Login</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="tab-register" data-mdb-toggle="pill" routerLink="/register" role="tab"
        aria-controls="pills-register" aria-selected="false">Register</a>
    </li>
  </ul>
  
  <div class="tab-content">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">

      <form class="register-form" [formGroup]="registerForm" (ngSubmit)="registerUser()">
        <div class="text-center mb-3">
          <h3>Register with:</h3>
          <!-- <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button> -->
  
          <!-- <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>
  
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-linkedin"></i>
          </button>
  
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button> -->
        </div>
<div class="form-control">
        <div class="form-label mb-4">
          <label class="form-label" for="registerEmail">Name</label>
            <input type="email" id="registerEmail" class="form-control" id="name" formControlName="name" required/>
            <span style="color: red" *ngIf="
              registerForm.controls['name'].touched && registerForm.controls['name'].invalid
               ">
                Name is required
              </span>
          </div>
          <div class="form-label mb-4">
            <label class="form-label" for="registerEmail">Username</label>
            <input type="email" id="registerEmail" class="form-control" id="username" formControlName="username" required  />
            <span style="color: red" *ngIf="
              registerForm.controls['username'].touched && registerForm.controls['username'].invalid
               ">
                Username is required
              </span>
          </div>
    
          <!-- Password input -->
          <div class="form-label mb-4">
            <label class="form-label" for="registerPassword">Password</label>
            <input [type]="type?'password':'text'"id="registerPassword" class="form-control"  id="password" formControlName="password" required />
            <span class="hide" (click) = "viewPassword()">
              <i [ngClass] = "visible?'fa fa-eye':'fa fa-eye-slash'"></i>
              </span>
            
              <span style="color: green" *ngIf="
              registerForm.controls['password'].invalid
               ">
                Password must contains atleast 6 characters
              </span>
          </div>
  
        </div>
  
        
        
  
        <!-- 2 column grid layout -->
        <div class="row mb-2">
          <div class="col-md-0 d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check my-3 mb-md-0">
              <a 
              routerLink=""><h4>
              Already Registered?</h4></a>
            </div>
          </div>
  
         
        </div>
  
        
        <button [disabled] = "registerForm.invalid" type="submit" class="btn btn-primary btn-block mb-4">Register</button>
  
        
        </form>

        </div>
  <!-- Pills content -->
    </div>
    </div>
  
